.full-width {
    width: 100%;
}

// .MuiPickersToolbar-root.MuiPickersLayout-toolbar.MuiDateRangePickerToolbar-root.css-52trwb-MuiPickersToolbar-root-MuiDateRangePickerToolbar-root,
// .MuiDialogActions-root.MuiDialogActions-spacing.MuiPickersLayout-actionBar.css-hlj6pa-MuiDialogActions-root,
// .MuiDateRangeCalendar-root.css-e47596-MuiDateRangeCalendar-root > div:first-child,
// .MuiPickersArrowSwitcher-root.css-9reuh9-MuiPickersArrowSwitcher-root {
//     display: none;
// }

// .vacationCalendar .MuiDateRangeCalendar-monthContainer.css-1vpb0tj-MuiDateRangeCalendar-container {
//     border: none;
//     border-radius: 4px;
//     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
//     margin: 1rem;
// }

#card {
    border-radius: 0 0 4px 4px;
}

#calendarContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}